*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.banner-container{
max-width:1550px ;
height: 650px;

background: rgba(229, 84, 115, 0.1);
}

.parent{
    display: flex;
    width: 80%;
    margin: 0 auto;

    gap: 80px;
}

.content{
    width: 50%;
    height: 650px;

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.content .titel-one{

color: rgb(39, 39, 39);
font-family: Lato;
font-size: 70px;
font-weight: 800;
line-height: 76px;
letter-spacing: 0%;
text-align: left;

}

.content .p-one{
color: rgba(39, 39, 39, 0.6);
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
margin-top: 20px;

}
.flower{
    width: 50%;
    height: 650px;
}

.content .btn{
color: rgb(255, 255, 255);
font-family: Lato;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
border-radius: 8px;

background: rgb(229, 84, 115);
padding: 15px 35px 15px 35px;
border: none;

margin-top: 30px;
}

.flower{
    display: flex;
}


/* main   */
.flower-main{
max-width:1550px ;
height: 550px;
display: grid;
place-items:center;
margin-top: 50px;

}

.flower-second{
    width: 1000px;
    height: 370px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.f-content{
    text-align: center;
    width: 40%;
}

.flower-second .box1{
    height: 100%;
    width: 33%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    display: flex;
    align-items: end;
    justify-content: center;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.flower-second .box1 img{
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    height: 80%;
    width: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.f-content h1{
color: rgb(39, 39, 39);
font-family: Lato;
font-size: 40px;
font-weight: 800;
line-height: 48px;
letter-spacing: 0%;
text-align: center;
}

.f-content p{
color: rgba(39, 39, 39, 0.6);
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
margin-top: 10px;
}

.con-f{
    width: 1000px;
    height: 40px;
    display: flex;
    justify-content: space-around;

}
.con-f p{
color: rgb(39, 39, 39);
font-family: Lato;
font-size: 24px;
font-weight: 700;
line-height: 35px;
letter-spacing: 0%;
text-align: center;
text-decoration-line: underline;
}

.l-s{

width: 1000px;
height: 200px;
margin: 0 auto;
display: flex;
text-align: center;
border-radius: 8px;

background: rgba(39, 39, 39, 0.05);

margin-bottom: 50px;
}

.l-s .box1{

    height: 200px;
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
}
.box1 img{
    width: 60px;
    height: 60.5px;
}

/* second section  */

.second{

    max-width:1550px ;
    height: 450px;
margin-bottom: 50px;
display: flex;
border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
}
.second .box3{
    height: 450px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 140px;
}


.box3 h1{
    font-family: Lato;
font-size: 40px;
font-weight: 800;
line-height: 48px;
letter-spacing: 0%;
text-align: left;
    
}
.box3 p{
    color: rgba(39, 39, 39, 0.6);
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
padding-left: 105px;
padding-right: 105px;
margin-top: 10px;

}

.box3 .btns{
border-radius: 8px;
background: rgb(229, 84, 115);
padding: 20px 43px 20px 43px;
color: rgb(255, 255, 255);
font-family: Lato;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin-top: 20px;
border: none;
padding: 10px 20px 10px 20px;
}

.box2{

    margin-left: 50px;
}

/* instragram section  */


.instra{

width: 1000px;
height: 720px;
margin:  0 auto;

}
.instra h1{
color: rgb(39, 39, 39);
font-family: Lato;
font-size: 40px;
font-weight: 800;
line-height: 48px;
letter-spacing: 0%;
text-align: center;
}

.instra p{
color: rgba(39, 39, 39, 0.6);
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
}

.boxs{

width: 100%;
height: 300px;
margin-top: 50px;
display: flex;
gap: 20px;

}
.boxs .box11{

    width: 25%;
    height: 100%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.boxs .box11 img{
    height: 100%;
    width: 100%;
}

.last-box{
width: 1000px;
height: 270px;
display: grid;
place-items: center;
background-image: url(./Rectangle9.png);

background-repeat: no-repeat;
background-position: center;

margin-top: 20px;
}
.last-box .inpp{
 width: 866px;
height: 206px;
display: flex;
flex-direction: column;
align-items: center;


}

.inpp input{
    border-radius: 8px;
background: rgb(255, 255, 255);
color: rgba(39, 39, 39, 0.6);
font-family: Lato;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
padding: 10px 20px 10px 20px;
padding-right: 200px;
border: none;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

.inpp .bt{
padding: 10px 20px 10px 20px;
border-radius: 8px;
background: rgb(229, 84, 115);
color: rgb(255, 255, 255);
font-family: Lato;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin-top: 20px;
border: none;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}


/* footer  */

.footer{
    max-width:1550px ;
height: 300px;
background: rgb(17, 16, 16);
margin-top: 60px;

display: grid;
place-content: center;
}

.footer h1{
    color: rgba(255, 255, 255, 0.9);
    font-family: Lato;
font-size: 48px;
font-weight: 800;
line-height: 58px;
letter-spacing: 0%;
text-align: center;
}
.footer p{
    color: rgba(255, 255, 255, 0.9);
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
margin-top: 10px;
}
.footer address {
    color: rgba(255, 255, 255, 0.4);
font-family: Lato;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0%;
text-align: center;
margin-top: 10px;
}